:root{
  --hol-color-tomato: rgb(216, 3, 3);
}
.Notifications{
  border: 2px solid var(--hol-color-tomato);
  padding: .3rem;

  ul {
    list-style-type: none;
    padding: 0;
  }
  li[data-priority='default'] {
    color: blue;
  }
  li[data-priority='urgent'] {
    color: red;
  }
}
